// Global styles

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
  font-size: 14px;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-weight: 300;
}

.cover {
  content: var(--cover-image);
}

.header .content {
  margin: 6% 8%;
  text-align: center;
  color: var(--green);

  h3, h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
  }

  h4 {
    display: inline-block;
    border: 2px solid var(--red);
    padding: 12px 32px;
    margin: 12px;
    border-radius: 9999px;

    a {
      text-decoration: none;
      color: var(--foreground);
    }

    &.accent {
      background-color: var(--red);
      a { color: white; }
    }

  }
}

.section {
  padding: 24px;
}

.schedule {
  background-color: var(--blue);

  .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}

.Event {
  background-color: var(--background);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 32px 64px 0px;
  padding: 24px;
  margin: 24px;
  border-radius: 24px;

  .header {
    display: flex;
    align-items: center;

    .date {
      flex-grow: 1;
      background: var(--red);
      border-radius: 8px;
      min-width: 56px; min-height: 56px;
      max-width: 56px; max-height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        color: white;
        margin: 0;
        font-size: 32px;
      }
    }

    .text {
      margin-left: 16px;

      h3, h5 { margin: 0; }

      h3 { font-size: 20px; font-weight: 500; }
      h5 { font-size: 14px; font-weight: 400; }
    }
  }
}

.questions {
  display: grid;
  justify-content: center;
  grid-gap: 48px;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, 256px);
}

.Question {
  height: 256px;
  background-color: var(--green);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 32px 64px 0px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 24px;
  text-align: center;

  &.answered {
    background-color: var(--secondary-background);
    color: var(--green);

    a {
      color: inherit;
    }
  }
}

.copyright {
  color: var(--green);;
  text-align: center;
}
