// Global styles

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  font-size: 14px;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  font-weight: 300;
}

.header .content {
  margin: 6% 8%;
  text-align: center;
  color: rgb(0, 131, 47);

  h3, h4 {
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
  }

  h4 {
    display: inline-block;
    border: 2px solid rgb(255, 122, 122);
    padding: 12px 32px;
    margin: 12px;
    border-radius: 9999px;

    a {
      text-decoration: none;
      color: black;
    }

    &.accent {
      background-color: rgb(255, 122, 122);
      a { color: white; }
    }

  }
}

.section {
  padding: 24px;
}

.schedule {
  background-color: rgb(148, 230, 255);

  .events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.Event {
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 32px 64px 0px;
  padding: 24px;
  margin: 24px;
  border-radius: 24px;

  .header {
    display: flex;
    align-items: center;

    .date {
      background: rgb(255, 122, 122);
      border-radius: 8px;
      width: 56px; height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        color: white;
        margin: 0;
        font-size: 32px;
      }
    }

    .text {
      margin-left: 16px;

      h3, h5 { margin: 0; }

      h3 { font-size: 20px; font-weight: 500; }
      h5 { font-size: 14px; font-weight: 400; }
    }
  }
}

.questions {
  display: grid;
  justify-content: center;
  grid-gap: 48px;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, 256px);
}

.Question {
  height: 256px;
  background-color: rgb(0, 131, 47);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 32px 64px 0px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 24px;
  text-align: center;

  &.answered {
    background-color: white;
    color: rgb(0, 131, 47);

    a {
      color: inherit;
    }
  }
}

.copyright {
  color: rgb(0, 131, 47);;
  text-align: center;
}
